html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.web19203 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(35, 34, 34, 1);
    width: 1600.00px;
    height: 900.00px;
    left: 0px;
    top: 0px;
}

.web19203 .backgroundStylestyle2 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(16, 20, 37, 1);
    box-shadow: none;
    width: 1582.00px;
    height: 900.00px;
    left: 0.00px;
    top: 16.00px;
}

.web19203 .signIn {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1466.00px;
    height: 817.00px;
    left: 67.00px;
    top: 58.00px;
}

.web19203 .signIn .card {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 1466.00px;
    height: 817.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .card .areacdd74838 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0.999970018863678;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0.10196078431372549);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-bottom-style: none;
    border-bottom-width: 2.00px;
    border-left-color: rgba(255, 255, 255, 1);
    border-left-style: none;
    border-left-width: 2.00px;
    border-right-color: rgba(255, 255, 255, 1);
    border-right-style: none;
    border-right-width: 2.00px;
    border-top-color: rgba(255, 255, 255, 1);
    border-top-style: none;
    border-top-width: 2.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    -webkit-filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.10196078431372549));
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.10196078431372549));
    width: 1466.00px;
    height: 817.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .card .metadatab6310883 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: transparent;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 3.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 10.00px;
    height: 10.00px;
    left: 380.94px;
    top: 0.00px;
}

.web19203 .signIn .illustration {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 277.76px;
    height: 412.00px;
    left: 1096.35px;
    top: 51.00px;
}

.web19203 .signIn .illustration .pathFillstyle1brand2e027be8 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    box-shadow: none;
    width: 86.61px;
    height: 63.44px;
    left: 130.18px;
    top: 0.00px;
}

.web19203 .signIn .illustration .pathFillstyle1textb9978eab {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(157, 161, 178, 1);
    box-shadow: none;
    width: 25.77px;
    height: 29.59px;
    left: 227.35px;
    top: 345.68px;
}

.web19203 .signIn .illustration .pathFillstyle1foregroundbc1648bd {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    box-shadow: none;
    width: 84.50px;
    height: 147.66px;
    left: 163.43px;
    top: 221.99px;
}

.web19203 .signIn .illustration .pathFillstyle1text0dc53c27 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(157, 161, 178, 1);
    box-shadow: none;
    width: 26.57px;
    height: 26.57px;
    left: 111.16px;
    top: 338.72px;
}

.web19203 .signIn .illustration .pathFillstyle1textd4f93ce1 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(157, 161, 178, 1);
    box-shadow: none;
    width: 91.67px;
    height: 39.49px;
    left: 83.09px;
    top: 132.37px;
}

.web19203 .signIn .illustration .pathFillstyle1background751d6782 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(36, 38, 43, 1);
    box-shadow: none;
    width: 32.39px;
    height: 82.32px;
    left: 145.26px;
    top: 64.45px;
}

.web19203 .signIn .illustration .pathFillstyle1textf5cd378b {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(157, 161, 178, 1);
    box-shadow: none;
    width: 42.90px;
    height: 78.86px;
    left: 234.86px;
    top: 116.69px;
}

.web19203 .signIn .illustration .pathFillstyle1texte7f48518 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(157, 161, 178, 1);
    box-shadow: none;
    width: 37.46px;
    height: 37.46px;
    left: 140.56px;
    top: 9.38px;
}

.web19203 .signIn .illustration .pathFillstyle1text {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(157, 161, 178, 1);
    box-shadow: none;
    width: 29.18px;
    height: 34.85px;
    left: 152.54px;
    top: 32.68px;
}

.web19203 .signIn .illustration .pathFillstyle1background212e9bc7 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(36, 38, 43, 1);
    box-shadow: none;
    width: 66.64px;
    height: 105.49px;
    left: 151.67px;
    top: 50.45px;
}

.web19203 .signIn .illustration .pathFillstyle1background {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(36, 38, 43, 1);
    box-shadow: none;
    width: 62.72px;
    height: 73.35px;
    left: 190.87px;
    top: 51.67px;
}

.web19203 .signIn .illustration .pathFillstyle1foregroundee9fc2cc {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    box-shadow: none;
    width: 121.20px;
    height: 215.60px;
    left: 110.29px;
    top: 135.75px;
}

.web19203 .signIn .illustration .pathFillstyle1brand2236eae7 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    box-shadow: none;
    width: 51.57px;
    height: 34.56px;
    left: 83.99px;
    top: 353.76px;
}

.web19203 .signIn .illustration .pathFillstyle1brandfd00644f {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    box-shadow: none;
    width: 40.51px;
    height: 53.08px;
    left: 226.14px;
    top: 358.92px;
}

.web19203 .signIn .illustration .pathFillstyle1brand {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    box-shadow: none;
    width: 63.64px;
    height: 49.65px;
    left: 137.67px;
    top: 5.78px;
}

.web19203 .signIn .illustration .pathFillstyle1foreground {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(30.00deg);
    -webkit-transform: rotate(30.00deg);
    transform: rotate(30.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    box-shadow: none;
    width: 96.76px;
    height: 47.61px;
    left: 5.42px;
    top: 109.06px;
}

.web19203 .signIn .button {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 421.00px;
    height: 73.00px;
    left: 483.00px;
    top: 664.00px;
}

.web19203 .signIn .button .aread9f863bb {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("assets/aread9f863bb.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 24.00px;
    border-top-right-radius: 24.00px;
    border-bottom-left-radius: 24.00px;
    border-bottom-right-radius: 24.00px;
    box-shadow: none;
    width: 421.00px;
    height: 73.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .button .labelef57e8b0 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Noto Sans', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 170.00px;
    height: 27.00px;
    left: 126.00px;
    top: 21.00px;
}

.web19203 .signIn .button .iconb80d20d7 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 20.00px;
    height: 20.00px;
    left: 385.00px;
    top: 26.00px;
}

.web19203 .signIn .button .iconb80d20d7 .area738aebb4 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(252, 252, 252, 1);
    border-bottom-color: rgba(253, 73, 198, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(253, 73, 198, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(253, 73, 198, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(253, 73, 198, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 20.00px;
    height: 20.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .button .iconb80d20d7 .icon8d1ae81b {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 17.42px;
    height: 15.19px;
    left: 1.00px;
    top: 3.14px;
}

.web19203 .signIn .button .iconb80d20d7 .icon8d1ae81b .pathdebb5a1e {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: transparent;
    stroke: rgba(250, 23, 114, 1);
    stroke-width: 1.67px;
    stroke-linecap: round;
    box-shadow: none;
    width: 20.75px;
    height: 18.53px;
    left: -1.67px;
    top: -1.67px;
}

.web19203 .signIn .button .iconb80d20d7 .metadatab21cff07 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: transparent;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 3.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 10.00px;
    height: 10.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .button .metadatabcf06587 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: transparent;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 3.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 10.00px;
    height: 10.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .input4d4479d2 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 25px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 700.00px;
    height: 90.00px;
    left: 286.00px;
    top: 335.00px;
}

.web19203 .signIn .input4d4479d2 .areaa16a25f9 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0.14901960784313725);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-bottom-style: none;
    border-bottom-width: 2.00px;
    border-left-color: rgba(255, 255, 255, 1);
    border-left-style: none;
    border-left-width: 2.00px;
    border-right-color: rgba(255, 255, 255, 1);
    border-right-style: none;
    border-right-width: 2.00px;
    border-top-color: rgba(255, 255, 255, 1);
    border-top-style: none;
    border-top-width: 2.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 729.00px;
    height: 90.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .input4d4479d2 .value7ff1d1f7 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Noto Sans', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 104.00px;
    height: 27.00px;
    left: 16.00px;
    top: 31.00px;
}

.web19203 .signIn .input4d4479d2 .icon00494046 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 20.00px;
    height: 20.00px;
    left: 695.00px;
    top: 38.00px;
}

.web19203 .signIn .input4d4479d2 .icon00494046 .areab383803d {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(253, 73, 198, 0.34901960784313724);
    border-bottom-color: rgba(253, 73, 198, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(253, 73, 198, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(253, 73, 198, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(253, 73, 198, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 20.00px;
    height: 20.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .input4d4479d2 .icon00494046 .icon5a391e8a {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 15.00px;
    height: 15.00px;
    left: 2.52px;
    top: 2.66px;
}

.web19203 .signIn .input4d4479d2 .icon00494046 .icon5a391e8a .pathb79abf86 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 1.67px;
    stroke-linecap: round;
    box-shadow: none;
    width: 16.67px;
    height: 16.67px;
    left: -1.67px;
    top: -1.67px;
}

.web19203 .signIn .input4d4479d2 .icon00494046 .icon5a391e8a .linedc7394a9 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 1.67px;
    stroke-linecap: round;
    box-shadow: none;
    width: 5.98px;
    height: 5.98px;
    left: 10.20px;
    top: 10.20px;
}

.web19203 .signIn .input4d4479d2 .icon00494046 .metadatac5610887 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: transparent;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 3.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 10.00px;
    height: 10.00px;
    left: 0.02px;
    top: 0.16px;
}

.web19203 .signIn .input4d4479d2 .labelc9b908e5 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 19.00px;
    letter-spacing: 0.52px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 13.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Noto Sans', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 37.00px;
    height: 18.00px;
    left: 0.00px;
    top: -1.50px;
}

.web19203 .signIn .input4d4479d2 .metadata8d4c34c3 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: transparent;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 3.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 10.00px;
    height: 10.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .titlePlatformdesktopstylestyle1tagh4 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 42.00px;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 40.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Noto Sans', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 517.00px;
    height: 97.00px;
    left: 47.00px;
    top: 37.50px;
}

.web19203 .signIn .input0e8141fc {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 25px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 700.00px;
    height: 90.00px;
    left: 286.00px;
    top: 201.00px;
}

.web19203 .signIn .input0e8141fc .areac062b1d4 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0.14901960784313725);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-bottom-style: none;
    border-bottom-width: 2.00px;
    border-left-color: rgba(255, 255, 255, 1);
    border-left-style: none;
    border-left-width: 2.00px;
    border-right-color: rgba(255, 255, 255, 1);
    border-right-style: none;
    border-right-width: 2.00px;
    border-top-color: rgba(255, 255, 255, 1);
    border-top-style: none;
    border-top-width: 2.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 729.00px;
    height: 90.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .input0e8141fc .value00d3de4a {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Noto Sans', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 107.00px;
    height: 27.00px;
    left: 16.00px;
    top: 31.00px;
}

.web19203 .signIn .input0e8141fc .icond0db66cb {
    display: block;
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 20.00px;
    height: 20.00px;
    left: 695.00px;
    top: 38.00px;
}

.web19203 .signIn .input0e8141fc .icond0db66cb .area92bdd257 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(253, 73, 198, 0.34901960784313724);
    border-bottom-color: rgba(253, 73, 198, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(253, 73, 198, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(253, 73, 198, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(253, 73, 198, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 20.00px;
    height: 20.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .input0e8141fc .icond0db66cb .icon2426a896 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 15.00px;
    height: 15.00px;
    left: 2.52px;
    top: 2.66px;
}

.web19203 .signIn .input0e8141fc .icond0db66cb .icon2426a896 .pathf9651a86 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 1.67px;
    stroke-linecap: round;
    box-shadow: none;
    width: 16.67px;
    height: 16.67px;
    left: -1.67px;
    top: -1.67px;
}

.web19203 .signIn .input0e8141fc .icond0db66cb .icon2426a896 .lineee0605b0 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 1.67px;
    stroke-linecap: round;
    box-shadow: none;
    width: 5.98px;
    height: 5.98px;
    left: 10.20px;
    top: 10.20px;
}

.web19203 .signIn .input0e8141fc .icond0db66cb .metadata4adfb4c7 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: transparent;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 3.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 10.00px;
    height: 10.00px;
    left: 0.02px;
    top: 0.16px;
}

.web19203 .signIn .input0e8141fc .label50a9cbd4 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 19.00px;
    letter-spacing: 0.52px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 13.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Noto Sans', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 37.00px;
    height: 18.00px;
    left: 0.00px;
    top: -1.50px;
}

.web19203 .signIn .input0e8141fc .metadatabe891e04 {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: transparent;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 3.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 10.00px;
    height: 10.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .input {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 25px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 700.00px;
    height: 90.00px;
    left: 286.00px;
    top: 469.00px;
}

.web19203 .signIn .input .area8d1294f7 {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0.14901960784313725);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-bottom-style: none;
    border-bottom-width: 2.00px;
    border-left-color: rgba(255, 255, 255, 1);
    border-left-style: none;
    border-left-width: 2.00px;
    border-right-color: rgba(255, 255, 255, 1);
    border-right-style: none;
    border-right-width: 2.00px;
    border-top-color: rgba(255, 255, 255, 1);
    border-top-style: none;
    border-top-width: 2.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 729.00px;
    height: 90.00px;
    left: 0.00px;
    top: 0.00px;
}

.web19203 .signIn .input .value {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 20.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Noto Sans', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 114.00px;
    height: 27.00px;
    left: 16.00px;
    top: 31.00px;
}

.web19203 .signIn .input .icon0dacc6c2 {
    display: block;
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 20.00px;
    height: 20.00px;
    left: 695.00px;
    top: 38.00px;
}

.web19203 .signIn .input .icon0dacc6c2 .area {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 0;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(253, 73, 198, 0.34901960784313724);
    border-bottom-color: rgba(253, 73, 198, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(253, 73, 198, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(253, 73, 198, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(253, 73, 198, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 20.00px;
    height: 20.00px;
    left: 0.00px;
    top: -0.00px;
}

.web19203 .signIn .input .icon0dacc6c2 .icon {
    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 15.00px;
    height: 15.00px;
    left: 2.52px;
    top: 2.66px;
}

.web19203 .signIn .input .icon0dacc6c2 .icon .path {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: transparent;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 1.67px;
    stroke-linecap: round;
    box-shadow: none;
    width: 16.67px;
    height: 16.67px;
    left: -1.67px;
    top: -1.67px;
}

.web19203 .signIn .input .icon0dacc6c2 .icon .line {
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    stroke: rgba(62, 62, 62, 1);
    stroke-width: 1.67px;
    stroke-linecap: round;
    box-shadow: none;
    width: 5.98px;
    height: 5.98px;
    left: 10.20px;
    top: 10.20px;
}

.web19203 .signIn .input .icon0dacc6c2 .metadata6b5bf49c {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: transparent;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 3.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 10.00px;
    height: 10.00px;
    left: 0.02px;
    top: 0.16px;
}

.web19203 .signIn .input .label {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    line-height: 19.00px;
    letter-spacing: 0.52px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: unset;
    font-size: 13.00px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Noto Sans', Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 37.00px;
    height: 18.00px;
    left: 0.00px;
    top: -1.50px;
}

.web19203 .signIn .input .metadata {
    position: absolute;
    box-sizing: content-box;
    display: none;
    -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: transparent;
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 3.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: auto;
    overflow-y: auto;
    width: 10.00px;
    height: 10.00px;
    left: 0.00px;
    top: 0.00px;
}